.sidebar {
    height: 100%;
    width: 18%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    overflow-y: auto;
    position: fixed;
}

.list__items {
    padding: 2rem 0 4rem;
}

.list__item {
    padding: 0.8rem;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.list__item-heading {
    padding-left: 1.6rem;
    font-size: 1.3rem;
    color: var(--white-color);
}

.list__item a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    transition: all 0.5s;
}

.list__item:hover a {
    color: var(--white-color);
    transition: all 0.5s;
}

@media (width<1000px) {
    .sidebar {
        width: 25%;
    }
}

@media (width<700px) {
    .sidebar {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 100%;
        /* Set the width to 100% for full screen */
        display: flex;
        justify-content: center;
    }

    .list__items {
        list-style: none;
        padding-top: 0rem;
    }

    .list__item a {
        font-size: 1rem;
    }
}

/* Add this CSS to your stylesheet */
.list__item {
    position: relative;
    /* Ensure the pseudo-element is positioned relative to the list item */
    padding-left: 25px;
    /* Adjust padding to make space for the dot */
}

.list__item::before {
    content: '';
    /* This makes the pseudo-element appear */
    position: absolute;
    /* Position it absolutely relative to the list item */
    left: 0.8rem;
    /* Position it to the left of the list item, with some padding */
    top: 50%;
    /* Center it vertically */
    transform: translateY(-50%);
    /* Adjust for centering */
    width: 6px;
    /* Set the size of the dot */
    height: 6px;
    /* Set the size of the dot */
    border-radius: 50%;
    /* Make it a circle */
    background-color: transparent;
    /* Initially invisible */
}

.list__item:hover::before,
.list__item.active::before {
    background-color: white;
    /* Change the dot color to white */
}