.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.dialog h2 {
    color: var(--primary-color);
}

.dialog p {
    padding: 1rem;
}

.dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.dialog-content {
    margin-top: 20px;
}